@import "../_base.scss";
@import "../mixins";
@import "../variables";

.Newpaper__container{
    max-width: 1024px;
    margin: auto;
    .Newpaper-title {
        text-align: center;
        font-size: 32px;
        font-weight: 500;
        margin-top: 100px;
        color: $color-title;
        margin-bottom: 40px;
      }
      
      .mySwiper {
        width: 100%;
        height: 100%;
        display: flex;
      
        .Swiper-slice {
          font-size: 18px;
      
          .img {
            height: 50px;
            margin-bottom: 40px;
            object-fit: cover;
          }
        }
      }
      
}

