@import "../_base.scss";
@import "../_mixins.scss";
@import "../_variables.scss";

.System-container {
  max-width: 1920px;
  margin: auto;
  margin-bottom: 50px;
  .Sytem-intro {
    max-width: 1024px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 50px;

    .System_intro-text {
      max-width: 50%;

      .intro_text-title {
        font-size: 32px;
        font-weight: 500;
        color: $color-title;
        text-align: center;
        margin-top: -40px;
        margin-bottom: 20px;
      }
      .intro_text-content {
        line-height: 30px;
        .intro_p {
          margin-bottom: 20px;
        }
      }
    }
    .System_intro-chart {
      max-width: 50%;
      .chart-img {
        width: 100%;
      }
    }
  }

  .System-infrastructure {
    max-width: 1024px;
    margin: 70px auto;
    .System_infrastructure-title {
      font-size: 32px;
      font-weight: 500;
      color: $color-title;
      text-align: center;
      margin-bottom: 20px;
    }
    .System_infrastructure-content {
    }
    .System_infrastructure-image {
      display: flex;
      justify-content: space-between;
      max-width: 245px;
      gap: 15px;
      margin-top: 50px;
      .infraImage {
        width: 100%;
        border-radius: 10%;
      }
    }
  }
  .System__bottom {
    max-width: 1920px;
    margin: auto;
    padding-bottom: 30px;
    background: $main-bg;
  }
}
